@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Established in 1849, Eastern Michigan was first known as a Normal School, then as a College and finally as a University.
Eastern Michigan University (EMU) is located in historic Ypsilanti, about 10 miles east of Ann Arbor, 40 miles west of Detroit, and just 20 minutes from Detroit Metropolitan Airport.
EMU offers more than 200 majors, minors and concentrations in
undergraduate, graduate, specialist, doctoral and certificate degrees
delivered through the following 5 colleges plus the Honors College:</p>
<p>
    <ul>
        <li> College of Arts and Sciences</li>
        <li>College of Business</li>
        <li>College of Education</li>
        <li>College of Health and Human Services</li>
        <li>College of Technology</li>
    </ul>
    </p>
<p>
Eastern is extraordinarily practical, supportive, accessible, and affordable
with a quality learning and living environment.
EMU has a distinct mix of comprehensive academic resources and strong
community initiatives while focusing on Education First.
Eastern has almost 700 international students from over 40 countries.
EMU's campuses with 800+ acres are comprised of twelve residence halls, 18 miles of walkways and jogging trails, and 122 buildings.
Eastern is a Mid-American Conference (MAC) member with 21 NCAA Division I varsity sports.
EMU has 253 student clubs and organizations.</p>
