@{
    ViewBag.Title = "Home Page";
}
<aside>
    <div class="jumbotron">
        <h1>Eastern Michigan University</h1>
        <p class="lead">Eastern Michigan University is one of the best business schools in the United States.</p>
        <p><a href="http://www.emich.edu/aboutemu/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
</aside>
<div class="row">
    <div class="col-md-4">
        <h2>College of Business</h2>
        <p>
            Eastern Michigan University's College of Business (COB) offers an innovative, cutting-edge curriculum that equips today's students for tomorrow's global business environment.
             The COB has numerous programs that interact with the business community, giving students practical experience working on current business issues. 
            Many COB programs have an international component, reflective of our global economy and many of our faculty members are frequently recognized for their teaching excellence at the department, college and university levels.
        </p>
        <p><a class="btn btn-default" href="http://www.emich.edu/cob/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>College of Technology</h2>
        <p>The College of Technology was established in 1980 and while the college is housed primarily in Sill & Roosevelt Halls, courses are taught in many other buildings on the Eastern Michigan University campus and at several off campus sites.
         The College consists of 1800 undergraduate and 450 graduate students, and over 50 tenure track faculty in four schools & the Military Science department.</p>
        <p><a class="btn btn-default" href="http://www.emich.edu/cot/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Graduate School</h2>
        <p>Are you looking for an opportunity to share your research?
         The Graduate School is currently seeking proposals for the 2017 Graduate Research Conference taking place on March 24, 2017 </p>
        <p><a class="btn btn-default" href="http://www.emich.edu/graduate/">Learn more &raquo;</a></p>
    </div>
</div>